@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500&display=swap');

/* h weight: 500 / p weight: 300*/
:root {
    --main-font: 'M PLUS Rounded 1c', sans-serif;
    --header-bg: #db554d;
    --faded-bg:#df645f;
    --task-bg:#c94b46;
    --font:#7a6062;
    --h4: #612e31;

}
body{
    margin:0;
}
header{
    background-color: var(--header-bg);
}
li{
    display: inline;
}
a{
    text-decoration: none;
}
/* upper navigation*/
.main-nav{
    display:flex;
    font-family: var(--main-font);
    color: white;
    align-items: center;
    justify-content: center;
    gap:4rem;
    flex-wrap: wrap;
}
.main-nav a{
    font-weight: 300;
    font-size: 1rem;
    color: white;
    background-color: var(--faded-bg);
    padding: 0.4rem;
    border-radius: 0.4rem;

}
.main-nav a:hover{
    color:var(--h4);
}
/* timer navigation */
.timer-nav{
    margin: 4rem;
    padding: 1rem;
    background-color: var(--faded-bg);
    border-radius: 0.3rem;
    
}
/*responsiveness*/
@media screen and (max-width:520px) {
    .timer-nav ul{
        flex-wrap: wrap;
        gap:0.5rem
    }
    .timer{
        font-size: 3rem;
    }
}
@media only screen and (min-width: 1000px) {
    .timer-nav {
      margin-left: 20rem;
      margin-right:20rem;
    }
    
    }

.timer-nav ul{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.timer-nav a{
    font-weight: 500;
    font-family: var(--main-font);
    font-size: 1.1rem;
    color: white;
    padding: 0.3rem;
}
.timer-nav a:hover{
    background-color:var(--task-bg);
    border-radius: 0.4rem;
}
/* timer itself*/
.timer{
    display: grid;
    align-content: center;
    justify-items: center;
    font-family: var(--main-font);
    color: white;
    
}
.timer h1{
    font-size: 6rem;
    text-align: center;
}
.timer a{
    color: var(--header-bg);
    background-color: white;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0.4rem;
    box-shadow: rgb(194, 178, 178) 0rem 0.2rem;
}
.timer a:hover{
    background-color:rgb(226, 193, 193);
}
/* working on */
.working-on{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-column: 2/3;
    color:white;
}
.working-on h3{
    grid-column: 2/3;
    margin-top: 0;
    font-size: 1.1rem;
}
.working-on p{
    grid-column: 2/3;
    margin-bottom: 0;
    font-size: 0.8rem;
}
/*tasks*/
.tasks{
    font-family: var(--main-font);
    font-size: 1.1rem;
    font-weight: 500;
    margin: 4rem;
    padding-bottom: 3rem;
    
}
.tasks h3{
    border-bottom: white 0.05rem solid;
    color: white;
    display: flex;
    justify-content: space-between;
}
.milk{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color:black;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 1rem;
    border-left: solid 4px rgb(39, 9, 9);
}
.tasks a{
    color: white;
}
.code{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color:rgb(163, 156, 156);
    border-radius: 0.2rem;
    padding:1rem;
    margin:1rem;
    text-decoration:line-through;
}
.milk a,
.code a{
    color: gray;
    text-align: left;
}
.tasks a:hover,
.milk a:hover,
.code a:hover,
.add a:hover{
    color: black;
}
.add{
    background-color:var(--task-bg) ;
    color: whitesmoke;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 1rem;
    border:white dashed 0.5px; 
    text-align: center;
}
.add a{
    color: white;
    
}
.score{
   
    background-color: var(--faded-bg);
    padding: 1rem;
    margin: 1rem;
    border-top: white 0.05rem solid;
    color: white;
    font-weight: 300;
    text-align: center;
}
/**/
/**/
/**/