@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500&display=swap');

/* h weight: 500 / p weight: 300*/
:root {
    --main-font: 'M PLUS Rounded 1c', sans-serif;
    --header-bg: #db554d;
    --faded-bg:#df645f;
    --task-bg:#c94b46;
    --font:#7a6062;
    --h4: #612e31;

}
body{
    margin:0;
}
header{
    background-color: var(--header-bg);
}
li{
    display: inline;
}
a{
    text-decoration: none;
}
/* upper navigation*/
.main-nav{
    display:flex;
    font-family: var(--main-font);
    color: white;
    align-items: center;
    justify-content: center;
    gap:4rem;
    flex-wrap: wrap;
}
.main-nav a{
    font-weight: 300;
    font-size: 1rem;
    color: white;
    background-color: var(--faded-bg);
    padding: 0.4rem;
    border-radius: 0.4rem;

}
.main-nav a:hover{
    color:var(--h4);
}
/* timer navigation */
.timer-nav{
    margin: 4rem;
    padding: 1rem;
    background-color: var(--faded-bg);
    border-radius: 0.3rem;
    
}
.timer-nav li{
    display:inline-flex;
    justify-items: center;
    align-items: center;
}
.timer-nav a{
    font-weight: 500;
    font-family: var(--main-font);
    font-size: 1.1rem;
    color: white;
    padding: 0.3rem;
}
.timer-nav a:hover{
    background-color:var(--task-bg);
    border-radius: 0.4rem;
}
/* timer itself*/
.timer{
    display: grid;
    align-content: center;
    justify-items: center;
    font-family: var(--main-font);
    color: white;
    
}
.timer h1{
    font-size: 6rem;
}
.timer a{
    color: var(--header-bg);
    background-color: white;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0.4rem;
    box-shadow: rgb(194, 178, 178) 0.2rem 0.2rem;
}
.timer a:hover{
    background-color:rgb(226, 193, 193);
}
/**/